.option{
    padding: 8px;
    padding-left: 12px;
}
.option:hover{
    cursor: pointer;
}
.option-hover:hover{
    background-color: rgb(229, 229, 229);
    color: rgb(110, 109, 109);
}

.option-hover-thm:hover{
    background-color: rgb(253, 218, 206);
}

.option-select{
    background-color: rgb(253, 218, 206);
}


.text-cut{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.caption{
    font-size: 80%;
}

.option-quote-sm{
    width: 4px;
    height: 15px;
    margin-right: 10px;
}

.option-quote{
    width: 4px;
    height: 100%;
}

.option-quote-select, .option-quote-sm-select{
    background-color: coral;
}

.option-1{
    padding-left: 10px;
}