.bg-smoke{
    padding: 8px;
    padding-left: 12px;
}

.bg-smoke:hover{
    background-color: whitesmoke;
    cursor: pointer;
}

.quote:hover{
    padding-left: 10px !important;
    border-left: 2px solid coral;
}

.text-cut{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.caption{
    font-size: 80%;
}
