.bg-smoke{
}

.bg-smoke:hover{
    background-color: whitesmoke;
}
.custom-padding{
    padding: 8px;
    padding-left: 16px;
}

.quote:hover{
    padding-left: 14px !important;
    border-left: 2px solid coral;
}
.quote:hover{
    padding-left: 14px !important;
    border-left: 2px solid coral;
}

.text-cut{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.caption{
    font-size: 80%;
}

.quote-static{
    padding-left: 14px !important;
    border-left: 2px solid coral;
}

