body {
  min-width: 400px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.f-90{
    font-size: 90%;
}

.hover-underline:hover{
    text-decoration: underline;
}
