.bg-smoke{
}

.bg-smoke:hover{
    background-color: whitesmoke;
    cursor: pointer;
}

.text-cut{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.caption{
    font-size: 80%;
}

